.header {
  margin-left: 5%;
}

body {
  margin-left: 5%;
  background-image: url(../public/tuscany.jpg);
}

.errorMsg {
  margin-top: 5%;
  background-color: lightgrey
}

.map {
  background-color: lightgrey;
  max-width: fit-content;
  padding: .5%;
}

.listItem {
  background-color: lightgrey;
  max-width: fit-content;
  display:inline-block;
  margin-top: .5%;
  margin-right: .5%;
  padding: .5%;
}
